* { 
    width: 100%;
    margin: 3%;
    color: white;
    font-size: 13pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-image: url(img/background.jpg);
    margin: auto;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 25pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 15pt;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

div.sesion {
    width: auto;
    background-color: rgb(32, 32, 32);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

a:hover {
    color: rgb(226, 77, 116);
    position: relative;
    left: 5px;
    bottom: 5px;
}