* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

header {
    background-color: rgb(15, 54, 80);
    color: white;
}

#cabecera {
    text-align: center;
    display: inline-block;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;

}

article {
    width: 45%;
    margin: auto;
    padding: auto;
}

h1 {
    text-align: center;
    font-size: 45pt;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
    
}

h5 {
    text-align: center;
    font-size: 12pt;
    font-weight: 100;
    padding: 25px;
}

a {
    color: black;
    font-weight: bold;
}

 