header {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(217, 255, 242);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    
}

section {
    background-color: beige;
}

img {
    width: 33%;
    height: auto;
    filter: saturate(0);
    display: flex;
    justify-content: space-evenly;
    justify-items: flex-start;
}

a:hover img {
    filter: saturate(1);
}